.todo {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  width: 80%;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
 
}

.todo__item {
  /* border-radius: 2px;
    border: 2px solid black; */

  width: 90%;
  overflow-y: scroll;
  height: 20px;
  font-size: medium;
  text-align: left;
  padding: 10px;
  background-color: transparent;
}
